.hero {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.image-container {
  width: 300px; /* Set width as needed */
  height: 200px; /* Desired height */
  overflow: hidden; /* Hides the excess */
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto; /* Ensures aspect ratio */
}
