:root {
  --primary-color: #e2d9d3;
  --secondary-color: #697068;
  --third-color: #e3f6f5;
  --fourth-color: #bae8e8;
  --primary-font: "Didot";
  --secondary-font: Helvetica, sans-serif;
  --primary-positioning: center;
}

.hero img {
  width: 100%;
  height: auto;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

h1 {
  font-family: var(--primary-font);
  color: #697068;
}

a:link {
  text-decoration: none;
  color: var(--secondary-color);
}

.about {
  margin-top: 30px;
}

p {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.5;
}
li {
  margin-bottom: 5px;
}
.dropdown {
  list-style-type: none;
  padding: 0;
}

.dropdown-history-content {
  display: none;
  padding: 10px;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 5px;
}

.dropdown-skills-content {
  display: none;
  padding: 10px;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 5px;
}

.dropdown-experience-content {
  display: none;
  padding: 10px;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 5px;
}

.dropdown-experience-details {
  display: none;
  padding: 10px;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 5px;
}

.dropdown-experience-line {
  display: none;
  padding: 2px;
  margin-top: 2px;
  text-align: left;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
}

p {
  text-align: center;
}
