:root {
  --primary-color: #e2d9d3;
  --secondary-color: #697068;
  --third-color: #e3f6f5;
  --fourth-color: #bae8e8;
  --primary-font: "Didot";
  --secondary-font: Helvetica, sans-serif;
  --primary-positioning: center;
}

body {
  background-color: var(--primary-color) !important;
}

h2 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 20px;
  padding-top: 50px;
  margin-left: 30px;
}

h3 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 12px;
  margin-bottom: 5px;
}

h4 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 12px;
}

.form-row {
  border: 1px solid var(--secondary-color);
  padding: 50px 20px 30px 20px;
  max-width: 50%;
  border-radius: 5px;
}

#Socialmedia {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  text-align: right !important;
}

.contact-intro-text {
  margin-left: 30px !important;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

.container {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  margin-top: 30px;
}

.button-container {
  border: 2px solid var(--secondary-color) !important;
  color: var(--secondary-color) !important;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  border: none;
  border-radius: 60px !important;
  width: 200px;
}

.submit.button:hover {
  color: var(--fourth-color) !important;
  text-decoration: none !important;
}

.submit.button:link {
  color: var(--primary-color) !important;
}

.social-links:visited {
  text-decoration: none;
  color: var(--secondary-color) !important;
}

.social-links:active {
  text-decoration: none;
  color: var(--secondary-color) !important;
}

.end {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  color: var(--secondary-color);
  text-align: center;
}

@media (max-width: 768px) {
  #Socialmedia {
    margin-top: 20px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    text-align: left !important;
  }
  h3 h4 {
    font-size: 15px !important;
  }
}

footer .email-link {
  text-decoration: none !important;
  color: var(--secondary-color) !important;
  font-family: var(--secondary-font);
  font-size: 12px;
  text-align: center !important;
}

footer .email-link:hover {
  color: var(--fourth-color);
}

.fa-brands {
  color: var(--secondary-color);
}

.social-link {
  display: block; /* Ensures the icons are on a new line */
  text-align: center; /* Centers the icons horizontally */
  margin-top: 10px; /* Optional: Adds space between the email and icons */
  margin-bottom: 20px;
  font-size: larger;
}

.social-link a {
  display: inline-block; /* Ensures they don't collapse */
  margin: 10px; /* Adds space between icons */
}

.email-link {
  text-align: center;
}
