:root {
  --primary-color: #e2d9d3;
  --secondary-color: #697068;
  --third-color: #e3f6f5;
  --fourth-color: #bae8e8;
  --primary-font: "Didot";
  --secondary-font: Helvetica, sans-serif;
  --primary-positioning: center;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 200px 20px;
}

.hero h1 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
  line-height: 2;
  margin: 0;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: 24px;
  color: var(--secondary-color);
}

.button-hero {
  border: 2px solid var(--secondary-color) !important;
  color: var(--secondary-color) !important;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin: 30px !important;
  padding: 20px 20px !important;
  border: none;
  border-radius: 60px !important;
}

a:link {
  color: var(--primary-color) !important;
}

a:hover {
  color: black !important;
  text-decoration: none !important;
}
a:visited {
  color: grey !important;
}
.project-title {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 36px;
  margin: 20px 10px 5px 10px;
}

p {
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 20px;
  line-height: 30px;
  color: var(--secondary-color);
  padding: 20px 20px;
}

h2 {
  font-size: 36px;
  margin-top: 20px;
  padding-top: 10px;
  line-height: 7;
  color: var(--secondary-color);
  padding: 20px 20px;
}

.projects {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 27px;
  padding: 10px 10px;
  margin-bottom: 50px;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color) !important;
  transition: background 0.3s;
  border-radius: 60px;
  width: 150px;
}

.weather {
  max-width: 100%;
  height: auto;
  display: block;
}

.weather-app {
  background-color: var(--primary-color);
  padding: 120px 60px auto;
}

.photography {
  background-color: var(--primary-color);
  padding: 10px 10px auto;
  border-radius: 5px;
}

.lgc {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.yoga {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.yoga-project {
  background-color: var(--primary-color);
  padding: 120px 60px auto;
}

img {
  border-radius: 5px;
}

@media (max-width: 960px) {
  .project-title {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 44px;
  }

  .project-title {
    padding: 0;
    text-align: center;
  }
}

.navbar-brand {
  color: black !important;
  text-transform: uppercase;
}

.footer {
  font-family: var(--secondary-font);
  text-align: center;
}

.end {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  color: var(--secondary-color);
}
